/*PAGE index.html*/

/*body*/

#bodyIndex {
    display: grid;
    grid-template-rows: 0.8fr 6fr 0.5fr;
    grid-template-columns: 1fr 3fr;
    margin: 0;
    padding: 0;
}

/*TOUS les liens du site*/

a:link {
    color: #AB8D3F;
    text-decoration: none;
    font-size: 1.2em;
}


/*TOUTES les img du site*/

img {
    border: black solid 1px;
    border-radius: 10px;
}

/*TOUS les header*/

header {
    grid-row: 1;
    grid-column: 1 / 3;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    background-color: black;
}

/*header : les logos*/

header div, .linkHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div:first-of-type {
    grid-row: 1 / 3;
    grid-column: 1;
}

header div:last-of-type {
    grid-row: 1 / 3;
    grid-column: 3;
}

#imgLogoDM {
    width: 50%;
}

#imgLogoJD {
    width: 45%;
}

/*header : menu*/

header nav {
    grid-row: 2;
    grid-column: 2 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav form:last-of-type {
    width: 100%;
}

nav div:first-of-type {
    background-color: white;
    border: white solid 1px;
    border-radius: 10px;
    padding: 0.3em;
    color: black;
    width: 30%;
}

nav div:last-of-type {
    width: 70%;
}

nav form {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav input[type=text] {
    width: 80%;
    border: black solid 2px;
    border-radius: 10px;
}

nav input[type=image] {
    width: 10%;
}

/*nav : lien*/

nav a:visited {
    color: #AB8D3F;
    text-decoration: none;
}

/*aside et section*/

aside {
    grid-row: 2;
    grid-column: 1;
    margin: 20% 0 20% 20%;
}

#sectionIndex {
    grid-row: 2;
    grid-column: 2;
    align-items: center;
}

aside, #sectionIndex {
    display: flex;
    flex-direction: column;
}

/*aside et section : tous les h1*/

aside h1, section h1 {
    text-align: center;
    border: black outset 2px;
    border-radius: 10px;
}

aside h1 {
    padding: 2.4%;
    margin-top: 2.5%;
    margin-bottom: 9%;
}

section h1 {
    padding: 0.8%;
    margin-left: 2%;
}

/*aside et section : tous les articles*/

article {
    display: flex;
    flex-direction: column;
}

/*aside : margin des articles*/

aside article {
    margin-bottom: 10%;
}

aside div:first-of-type {
    flex-direction: column;
}

/*aside et section : toutes les div dans les articles*/

aside div, #sectionIndex>article>div:first-of-type, #sectionIndex>article>div:last-of-type {
    background-color: black;
    border: black solid 1px;
    border-radius: 10px;
}

/*section : largeur et margin des articles*/

#sectionIndex article {
    width: 80%;
}

#sectionIndex article:first-of-type {
    margin: 6.5% 0 6% 0;
}

#sectionIndex article:last-of-type {
    margin: 6% 0 6.5% 0;
}

/*section : div avec les img (post_jour) dans le dernier article */

article div {
    display: flex;
    flex-direction: row;
    margin: 2% 0 2% 2%;
}

/*aside et section : tous les liens des photos vers les autres pages*/

.imgAside {
    width: 80%;
    height: 80%;
    margin-top: 6%;
    margin-bottom: 6%;    
    margin-left: auto;
    margin-right: auto;
}

#linkImgChore {
    width: 90%;
    height: 80%;
    margin: auto;
}

.linkImgPost {
    width: 25%;
    margin: 2% 0% 2% 2%;

}

/*aside et section : tous les liens des h1 vers les autres pages*/

.linkAside, .linkSection {
    padding: 2%;
    text-align: center;
    height: 2%;
    color: white;
}

.linkAside {
    margin: 2%;
}

/*aside : toutes les img*/

aside img {
    width: 100%;
    height: 100%;
}

/*section : lien de la photo vers la page choreJour*/

#imgChore {
    width: 100%;
    height: 100%;
}

/*section : tous les liens des photos vers la page postJour*/

.imgPost {
    width: 90%;
    height: 100%;
}

/*section : input (POSTER SA VIDEO et mASH MAINTENANT)*/

#sectionIndex input {
    background-image: linear-gradient(to bottom left, #EEE8AA, #BCA465, #EEE8AA, #AB8D3F, #EEE8AA);
    border-radius: 100%;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15%;
}

#inputSection {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#inputSection form:first-of-type, form:last-of-type {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

/*footer*/

footer {
    grid-row: 3;
    grid-column: 1 / 3;
    background-color: black;
    color: white;
    font-size: 1.2em;
    text-align: center;
    align-self: center;
}

/*footer PAGES connexion.html et inscription.html*/

#footerConnexion {
    grid-row: 3;
    grid-column: 1 / 4;
}

#footerConnexion a {
    color: #AB8D3F;
}


/*PAGES connexion.html et inscription.html*/

/*body*/

#bodyConnexion, #bodyInscription {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    height: 100vh;
}

#bodyConnexion {
    grid-template-rows: 0.5fr 3fr 0.5fr;
}

#bodyInscription {
    grid-template-rows: 1fr 3fr 0.5fr;
}

/*header*/

#bodyConnexion header, #bodyInscription header {
    grid-column: 1 / 4;
}

/*header : les logos*/

#bodyConnexion #imgLogoDM, #bodyInscription #imgLogoDM {
    width: 35%;
}

#bodyConnexion #imgLogoJD, #bodyInscription #imgLogoJD {
    width: 30%;
}


/*section*/

#sectionConnexion, #sectionInscription {
    grid-row: 2;
    grid-column: 2;
    background-color: #F0F5F5;
    border: #F0F5F5 solid 1px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

/*h1*/

#sectionConnexion article:first-of-type, #bodyInscription article:first-of-type {
    font-size: 1.5em;
}


#sectionInscription h1,#sectionConnexion h1 {
    margin: 7% 6% 6% 6%;
}

/*form*/


#bodyConnexion form, #bodyInscription form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
    padding-bottom: 3%;
}

/*form : toutes les div des champs du formulaire*/

.inputConnexion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 0.4em;
}

.inputInscription {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    padding: 0.4em;
    margin-right: auto;
}

/*form : tous les champs du formulaire*/

form input {
    border: black solid 2px;
    border-radius: 10px;
    padding: 0.4em;
    font-size: 1em;
}

/*form : tous les input type submit des formulaires*/

.inputConnexion input[type=submit] {
    background-image: linear-gradient(to bottom left, #EEE8AA, #BCA465, #EEE8AA, #AB8D3F, #EEE8AA);
    /*variante si ton rose : background-image: linear-gradient(to bottom left, #ff1493, pink, #bf09bd);*/
    width: 40%;
}

#sectionInscription input[type=submit] {
    margin-top: 1.5em;
}

/*form : tous les labels des champs du formulaire*/

form .label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding: 0.4em;
    font-size: 1.3em;
}

/*p du formulaire de connexion*/

#sectionConnexion article:last-of-type {
    /*grid-row: 3;
    grid-column: 1;
    justify-content: flex-start;*/
    font-size: 1.5em;
    text-align: center;
}

#sectionConnexion a:visited {
    color: #AB8D3F;
}

#sectionConnexion a {
    color: black;
}

@media screen and (max-width: 800px) {
    
    /*PAGE index.html*/

    /*body*/

    #bodyIndex {
        grid-template-rows: 0.5fr 2.5fr 2fr 0.5fr;
        grid-template-columns: 1fr;
    }

    /*TOUS les header*/

    header {
        grid-column: 1;
    }

    /*header : les logos*/

    header div:first-of-type {
        grid-column: 1;
    }

    header div:last-of-type {
        grid-column: 3;
    }

    #bodyIndex #imgLogoDM {
        width: 90%;
    }
    
    #bodyIndex #imgLogoJD {
        width: 80%;
    }

    /*header : menu*/

    header nav {
        grid-column: 2;
        grid-row: 1 / 3;;
    }
    
    nav form:first-of-type {
        width: 100%;
    }

    nav div:first-of-type {
        padding: 0.3em;
        font-size: 0.6em;
    }

    nav div:last-of-type {
        width: 80%;
    }

    nav input[type=text] {
        padding: 0.4em;
        font-size: 0.6em;
    }
    
    /*section et aside : liens des h1*/

    a:link {
        font-size: 1em;;
    }
    
    /*section*/

    #sectionIndex {
        grid-row: 2;
        grid-column: 1;
        display: grid;
        grid-template-rows: 1fr 0.5fr 1fr;
        grid-template-columns: 1fr;
    }
    
    /*section : tous les articles*/

    #sectionIndex article {
        width: 90%;
        margin-top: 0;
        margin-bottom: 0;
    }

    #sectionIndex article:first-of-type {
        grid-row: 1;
        grid-column: 1;
        margin-left: auto;
        margin-right: auto;
    }

    #sectionIndex article:nth-of-type(2) {
        grid-row: 2;
        grid-column: 1;
        margin-left: auto;
        margin-right: auto;
    }

    #sectionIndex article:last-of-type {
        grid-row: 3;
        grid-column: 1;
    }

    .linkAside {
        margin-top: 5%;
    }

    /*section : 1ere et dernière div*/

    #sectionIndex div:first-of-type, #sectionIndex div:last-of-type, {
        margin: 0;
    }

    /*section : input*/

    #inputSection form:first-of-type, form:last-of-type {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    #sectionIndex input {
        width: 80%;
        font-size: 0.7em;
    }
  
    /*aside*/

    aside {
        grid-row: 3;
        grid-column: 1;
        margin: auto;
        background-color: white;
        border: white solid 1px;
    }

    aside div:first-of-type {
        display: flex;
        flex-direction: row;
    }

    /*aside : tous les articles*/

    aside article {
        margin-bottom: 0;
    }

    aside div:first-of-type, aside div:last-of-type {
        background-color: black;
        border: black solid 1px;
        border-radius: 10px;
    }


    /*aside : tous les h1*/

    aside h1 {
        margin: 3%;
    }

    /*aside : toutes les div*/

    aside>article>div {
        margin: 4%;
    }

    aside>article>div>.imgAside {
        margin: 2%;
        width: 100%;
        height: auto;
    }

    /*footer*/

    #bodyIndex footer {
        grid-row: 4;
    }

    footer p {
        font-size: 0.8em;
    }

    /*PAGES connexion.html et inscription.html*/

        #bodyConnexion {
        grid-template-rows: 0.5fr 3fr 0.5fr;
    }
    
    #bodyInscription {
        grid-template-rows: 0.5fr 3fr 0.5fr;
    }
    
    /*header*/

    #bodyConnexion header, #bodyInscription header {
        height: auto;
    }

    /*header : les logos*/

    #bodyConnexion #imgLogoDM, #bodyInscription #imgLogoDM {
        width: 90%;
    }
    
    #bodyConnexion #imgLogoJD, #bodyInscription #imgLogoJD {
        width: 80%;
    }

    /*section*/

    #sectionConnexion, #sectionInscription {
        grid-row: 2;
        grid-column: 1 / 4;
    }

    /*PAGE inscription.html*/

    form .label {
        font-size: 0.9em;
    }
}
