/*PAGE index.html*/

/*body*/

#bodyindex {
    display: grid;
    grid-template-rows: 0.3fr 2fr;
    grid-template-columns: 1fr 3fr;
    margin: 0;
    padding: 0;
}

/*TOUS les liens du site*/

a:link {
    color: #EEE8AA;
    text-decoration: none;
}

/*TOUTES les img du site*/

img {
    border: black solid 1px;
    border-radius: 10px;
}

/*TOUS les header*/

header {
    grid-row: 1;
    grid-column: 1 / 3;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    width: 100vw;
}

/*header : les logos*/

header div, .linkheader {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div:first-of-type {
    grid-row: 1 / 3;
    grid-column: 1;
}

header div:last-of-type {
    grid-row: 1 / 3;
    grid-column: 3;
}

.imglogo {
    width: 50%;
}

/*header : menu*/

header nav {
    grid-row: 2;
    grid-column: 2 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav form:last-of-type {
    width: 100%;
}

nav div:first-of-type {
    background-color: white;
    border: white solid 1px;
    border-radius: 10px;
    padding: 0.3em;
    color: black;
    width: 25%;
}

nav div:last-of-type {
    width: 70%;
}

nav form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav input[type=text] {
    width: 80%;
    border: black solid 2px;
    border-radius: 10px;
    font-size: 1em;
}

nav input[type=image] {
    width: 10%;
}

/*nav : lien*/

nav a:visited {
    color: #AB8D3F;
    text-decoration: none;
    font-size: 1em;
}

/*aside et section*/

aside {
    grid-row: 2;
    grid-column: 1;
    align-items: flex-end;
    background-color: black;
    border: black solid 1px;
    border-radius: 10px;
    margin: 4em 0 4em 0;
    width: 100%;
    margin-left: 1em;
}

#sectionindex {
    grid-row: 2;
    grid-column: 2;
    align-items: center;
}

aside, #sectionindex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*aside et section : tous les articles*/

article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

aside article {
    width: 100%;
    height: 50%;
}

#sectionindex article {
    background-color: black;
    border: black solid 1px;
    border-radius: 10px;
    margin: 4em 0 4em 0;
    width: 80%;
    height: 100%;
}

/*section : div avec les img dans le dernier article */

article div {
    display: flex;
    flex-direction: row;
}

/*aside et section : tous les liens des photos vers les autres pages*/

.imgaside {
    width: 80%;
    height: 80%;
}

#imgsection {
    width: 70%;
    height: 80%;
}

#linkpost {
    width: 100%;
    height: 80%;
}

.linkpost, #linkpost {
    display: flex;
    justify-content: space-evenly;
}

/*aside et section : tous les liens des textes vers les autres pages*/

.linkaside, .linksection {
    border: #EEE8AA solid 2px;
    border-radius: 10px;
    padding: 0.4em;
    font-size: 0.8em;
    text-align: center;
    height: 2%;
}


/*aside : toutes les img*/

aside img {
    width: 100%;
    height: 100%;
}

/*section : lien de la photo vers la page choré_jour*/

#imgchore {
    width: 100%;
    height: 100%;
}

/*section : tous les liens des photos vers la page post_jour*/

.imgpost {
    width: 100%;
    height: 100%;
}

/*section : input*/

#sectionindex input {
    background-image: linear-gradient(to bottom left, #EEE8AA, #BCA465, #EEE8AA, #AB8D3F, #EEE8AA);
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#inputsection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#inputsection form:first-of-type, form:last-of-type {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#inputsection input {
    font-size: 1.2em;
}

/*PAGES connexion.html et inscription.html*/

/*body*/

#bodyconnexion, #bodyinscription {
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    height: 100vh;
}

/*section*/

#sectionconnexion {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
}

#sectioninscription {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-columns: 1fr;
}

/*h1*/

#sectionconnexion article:first-of-type, #bodyinscription article:first-of-type {
    grid-row: 1;
    grid-column: 1;
    justify-content: flex-end;
    font-size: 1.5em;
}

/*form*/

#sectionconnexion article:nth-of-type(2), #sectioninscription article:last-of-type {
    grid-row: 2;
    grid-column: 1;
}

#bodyconnexion form, #bodyinscription form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
}

/*form : toutes les div des champs du formulaire*/

.inputconnexion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 0.4em;
}

.inputinscription {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    padding: 0.4em;
}

/*form : tous les champs du formulaire*/

form input {
    border: black solid 2px;
    border-radius: 10px;
    padding: 0.4em;
    font-size: 1em;
}

/*form : tous les input type submit des formulaires*/

.inputconnexion input[type=submit] {
    background-image: linear-gradient(to bottom left, #EEE8AA, #BCA465, #EEE8AA, #AB8D3F, #EEE8AA);
    /*variante si ton rose : background-image: linear-gradient(to bottom left, #ff1493, pink, #bf09bd);*/
    width: 40%;
}

#sectioninscription input[type=submit] {
    margin-top: 1.5em;
}

/*form : tous les labels des champs du formulaire*/

form .label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding: 0.4em;
    font-size: 1.3em;
}

/*p du formulaire de connexion*/

#sectionconnexion article:last-of-type {
    grid-row: 3;
    grid-column: 1;
    justify-content: flex-start;
    font-size: 1.5em;
}

#sectionconnexion a:visited {
    color: #AB8D3F;
}

/*footer*/

@media screen and (max-width: 800px) {
    
    /*body page index*/

    #bodyindex {
        grid-template-rows: 0.5fr 2fr 1fr;
        grid-template-columns: 1fr;
        height: 115vh;
    }

    /*TOUS les header*/

    header {
        grid-column: 1;
    }

    /*header : les logos*/

    header div:first-of-type {
        grid-column: 1;
    }

    header div:last-of-type {
        grid-column: 3;
    }

    /*header : menu*/

    header nav {
        grid-column: 2;
        justify-content: flex-end;
    }
    
    nav form:first-of-type {
        width: 100%;
    }

    nav div:first-of-type {
        padding: 0.3em;
        font-size: 0.6em;
    }

    nav div:last-of-type {
        width: 80%;
    }

    nav input[type=text] {
        padding: 0.4em;
        font-size: 0.6em;
    }
    
    /*section*/

    #sectionindex {
        grid-row: 2;
        grid-column: 1;
        width: 100vw;
        display: grid;
        grid-template-rows: 1.5fr 0.5fr 1.5fr;
        grid-template-columns: 1fr;
    }

    #sectionindex article:first-of-type {
        grid-row: 1;
        grid-column: 1;
    }

    #sectionindex article:nth-of-type(2) {
        grid-row: 2;
        grid-column: 1;
    }

    #sectionindex article:last-of-type {
        grid-row: 3;
        grid-column: 1;
    }

    #sectionindex article {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 70%;
        margin-top: 0;
        margin-bottom: 0;
    }

    /*section : tous les liens des photos vers la page post_jour*/

    .linkpost {
        height: 100%;
    }

    /*section et aside : tous les liens des textes vers les pages du site*/

    .linkaside, .linksection {
        height: 5%;
    }

    /*section : input*/

    #inputsection form:first-of-type, form:last-of-type {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    #sectionindex input {
        font-size: 0.8em;
    }
  

    /*aside*/

    aside {
        grid-row: 3;
        grid-column: 1;
        width: 80%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        margin-bottom: 1em;
        flex-direction: row;
    }

    aside article {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 100%;
    }

    /*PAGE connexion.html*/

    #sectionconnexion, #sectioninscription {
        grid-row: 2;
        grid-column: 1;
    }
}
