/*PAGE index.html*/

#bodyIndex {
    margin: 0;
    display: grid;
    grid-template-rows: 0.1fr 4fr 0.1fr;
    grid-template-columns: 1fr 3fr;
}

/*TOUS LES LIENS*/

a:link {
    color: #AB8D3F;
}

/*HEADER*/

#headerIndex {
    grid-row: 1;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
}

/*HEADER : logos*/

#headerIndex div:first-of-type {
    grid-column: 1;
}

#linkLogoDM, #linkLogoJD {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#headerIndex div:last-of-type {
    grid-column: 3;
}

#headerIndex #imgLogoDM, #imgLogoJD {
    width: 30%;
}

/*HEADER : nav*/

nav {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a{
    border: white solid 1px;
    border-radius: 20px;
    background-color: white;
    font-size: 25px;
    margin: 20px;
    padding: 2px 20px 5px 20px;
}

/*ASIDE*/

aside {
    grid-row: 2;
    grid-column: 1;
    margin: 48px;
    background-color: #F0F5F5;
    border: #F0F5F5 solid 1px;
    border-radius: 10px;
}

aside, #setImgTop3, #setLastImg {
    display: flex;
    flex-direction: column;
}

/*Toutes les img de l'aside*/

.imgAside img {
    width: 96%;
    margin: 5px;
    border: #F0F5F5 solid 1px;
    border-radius: 10px;
}

/*dernière img de l'aside*/

#setLastImg>a:last-of-type {
    height: 190px;
}

#setLastImg>a:last-of-type>img {
    height: 100%;
}

/*TOUS LES LIENS H1 DE L'ASIDE ET DE LA SECTION*/

.linkAside, .linkSection {
    margin-left: 20px;
    font-size: 20px;
}

h1 {
    padding-top: 10px;
}

/*SECTION*/

section {
    grid-row: 2;
    grid-column: 2 / 4;
    margin: 48px;
}

/*SECTION : articles chorégraphie et posts*/

section article {
    background-color: #F0F5F5;
    border: #F0F5F5 solid 1px;
    border-radius: 10px;
}

/*SECTION : chorégraphie*/

#chore {
    display: flex;
    flex-direction: row;
}

#imgChore {
    width: 95%;
    margin: 1px 5px 25px 30px;
    border: #F0F5F5 solid 1px;
    border-radius: 10px;
}

/*SECTION : posts*/

#setImgPost {
    display: flex;
    flex-direction: row;
}

.linkImgPost {
    width: 25%;
    height: 90%;
    margin: 5px 20px 20px 20px;
}

.imgPost {
    width: 100%;
    height: 300px;
    border: #F0F5F5 solid 1px;
    border-radius: 10px;
}

/*SECTION : input (POSTER SA VIDEO et MASH MAINTENANT)*/

#inputSection {
    display: flex;
    justify-content: center;
}

#inputSection form {
    margin: 60px;
}

#inputSection input {
    font-size: 30px;
    text-align: center;
    background-image: linear-gradient(to bottom left, #EEE8AA, #BCA465, #EEE8AA, #AB8D3F, #EEE8AA);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*FOOTER*/

footer {
    grid-row: 3;
    grid-column: 1 / 4;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: black;
}

footer a {
    color: #AB8D3F;
}

/*PAGES connexion.html & inscription.html*/

#bodyConnexion, #bodyInscription {
    margin: 0;
    display: grid;
    grid-template-rows: 0.5fr 3fr 0.1fr;
    grid-template-columns: 1fr;
}

/*HEADER*/

#headerConnexion, #headerInscription {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
}

#headerConnexion .linkHeader, #headerInscription .linkHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#headerConnexion #imgLogoDM, #headerInscription #imgLogoDM {
    width: 30%;
}

#headerConnexion #imgLogoJD, #headerInscription #imgLogoJD {
    width: 25%;
}

/*SECTION*/

#sectionConnexion, #sectionInscription {
    grid-row: 2;
    grid-column: 1;
    margin: 0 400px 0 400px;
    background-color: #F0F5F5;
    border: #F0F5F5 solid 1px;
    border-radius: 10px;
}

#sectionConnexion {
    padding: 100px;
}

#sectionInscription {
    padding: 54px;
}

#sectionConnexion h1, #sectionInscription h1 {
    font-size: 30px;
    text-align: center
}

#sectionConnexion p, #sectionInscription p {
    font-size: 20px;
    text-align: center
}

#sectionConnexion form, #sectionInscription form {
    padding: 20px;
}

#sectionConnexion div, #sectionInscription div {
    margin-top: 20px;
}

.inputConnexion, .inputInscription {
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

#sectionConnexion input[type=submit] {
    margin-top: 60px;
    margin-bottom: 30px;
}

#sectionInscription input[type=submit] {
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {

    #bodyIndex {
        display: flex;
        flex-direction: column;
    }
  
    /*HEADER : logos*/

    #headerIndex #imgLogoDM, #imgLogoJD {
        width: 100%;
    }

    #linkLogoJD {
        margin-left: 0;
    }

    /*HEADER : nav*/

    nav a {
        font-size: 15px;
        margin: 10px;
        padding: 2px 10px 5px 10px;
    }

    /*SECTION*/

    /*SECTION : chorégraphie */

    section {
        margin: 0;
        width: 100vw;
    }

    #imgChore {
        height: 100%;
        margin: 0 5px 20px 5px;
    }

    /*SECTION : input (POSTER SA VIDEO et MASH MAINTENANT)*/

    #inputSection {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #inputSection form {
        margin: 2px;
        width: 50vw;
        text-align: center;
    }

    #inputSection input {
        font-size: 13px;
    }

    /*SECTION : posts*/

    #setImgPost {
        flex-direction: column;
    }

    .linkImgPost {
        width: 100%;
        height: 300px;
        margin-left: auto;
    }

    .imgPost {
        width: 90%;
        height: 100%;
        margin-bottom: 20px;
        margin-left: 15px;
    }

    /*ASIDE*/

    aside {
        margin: 0;
    }

    /*FOOTER*/

    #bodyIndex footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 14px;
    }

    /*PAGES connexion.html & inscription.html*/

    #bodyConnexion, #bodyInscription {
        margin: 0;
        height: 100vh;
        display: grid;
        grid-template-rows: 0.5fr 3fr 0.1fr;
        grid-template-columns: 1fr;
    }

    /*HEADER*/

    #headerConnexion, #headerInscription {
        justify-content: space-between;
        width: 100vw;
    }

    #headerConnexion .linkHeader, #headerInscription .linkHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    #headerConnexion #imgLogoDM, #headerInscription #imgLogoDM {
        width: 60%;
    }

    #headerConnexion #imgLogoJD, #headerInscription #imgLogoJD {
        width: 60%;
    }

    /*SECTION*/

    #sectionConnexion, #sectionInscription {
        margin: 0 0 0 0;
    }

    #sectionConnexion {
        padding: 0;
    }

    #sectionInscription {
        padding: 0;
    }

    /*FOOTER*/

    #bodyConnexion footer, #bodyInscription footer {
        margin-top: 0;
        font-size: 16px;
    }
}